.strl_header {
  width: 100%;
  height: 42px;
  background: #ff841d;
  color: #fff;
  line-height: 42px;
  text-align: center;
}
.strl_header > h3 {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
}
.strl_header .before {
  float: left;
  width: 52px;
  height: 42px;
  padding: 10px 20px;
  background: url(../images/icon_bar.png) no-repeat -103px -10px;
  background-size: 220px 132px;
  background-origin: content-box;
  background-clip: content-box;
  position: absolute;
  top: 0;
  left: 0;
}
.strl_header .after {
  float: right;
  width: 50px;
  height: 42px;
  padding: 5px 10px;
  background: url(../images/header_app.png);
  background-size: 34px 34px ;
  position: absolute;
  background-origin: content-box;
  background-clip: content-box;
  top: 0;
  right: 0;
}
.ctrl_list {
  overflow: hidden;
  background: #fff;
}
.ctrl_list li {
  padding: 16px 10px;
  overflow: hidden;
}
.ctrl_list li a {
  float: left;
}
.ctrl_list li a > img {
  width: 100px;
  height: 100px;
  float: left;
}
.ctrl_list li .list_con {
  overflow: hidden;
}
.ctrl_list li .list_con h3 {
  font-size: 14px;
  margin: 0;
  height: 70px;
}
.ctrl_list li .list_con h3 .price {
  color: #ff841d;
}
.ctrl_list li .list_con .jd_store span:first-child {
  float: left;
  color: #a1a1a1;
  font-size: 12px;
}
.ctrl_list li .list_con .jd_store span:last-child {
  float: right;
  color: #a1a1a1;
  font-size: 12px;
}
.ctrl_list li .list_con .jd_store span:last-child .icon-comment {
  width: 16px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024' width='17'><path fill='#a1a1a1' d='M924.504962 664.898711 97.819886 664.898711c-17.557888 0-31.795147-14.241352-31.795147-31.795147l0-508.732583c0-17.557888 14.238282-31.792077 31.795147-31.792077l241.198387 0 149.664671-149.661601c6.209422-6.212492 14.34266-9.31618 22.478967-9.31618s16.269545 3.102664 22.479991 9.31618L683.306574 92.57788l241.198387 0c17.557888 0 31.795147 14.235213 31.795147 31.792077L956.300109 633.10254C956.300109 650.657358 942.061826 664.898711 924.504962 664.898711zM892.708791 156.169197l-222.569098 0c-8.428973 0-16.518209-3.354398-22.478967-9.31618l-136.498814-136.494721-136.498814 136.494721c-5.961782 5.961782-14.051017 9.31618-22.479991 9.31618l-222.569098 0L129.61401 601.304324l763.093758 0L892.707768 156.169197zM288.592814 378.735226m-63.591317 0a62.143 62.143 0 1 0 127.182634 0 62.143 62.143 0 1 0-127.182634 0ZM511.161912 378.735226m-63.591317 0a62.143 62.143 0 1 0 127.182634 0 62.143 62.143 0 1 0-127.182634 0ZM733.73101 378.735226m-63.591317 0a62.143 62.143 0 1 0 127.182634 0 62.143 62.143 0 1 0-127.182634 0Z' transform='translate(0, 812) scale(1, -1)'/></svg>");
}
